body {
    margin: 0;
    font-family: sans-serif;
    background-color: aquamarine;
}

h1 {
    color: rebeccapurple;
    text-align: center;
}

.return-button {
    text-align: center;
}

.table-pos {
    margin-left: 250px;
    margin-right: 250px; 
}

.form {
    margin-top: 20px;
}

h4 {
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(7, 83, 7);
}

form {
    text-align: center;
}

.navbar-brand .first {
    color: black;
}

.navbar-brand .second {
    color: rebeccapurple;
}

.main-title {
    font-size: 50px;
}

.alert.alert-success{
    margin-left: 500px;
    margin-right: 500px;
}

.alert.alert-danger{
    margin-left: 500px;
    margin-right: 500px;
}

.control {
    padding: 5px;
}

.buttonpadding {
    padding: 5px;
}